* {
  margin: 0;
  padding: 0;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 8rem);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  position: relative;
  background: rgb(255, 252, 252);
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.glass-card {
  box-sizing: border-box;
  width: 98%;
  height: 100%;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  user-select: none;
  -webkit-user-select: none;
  font-weight: bolder;
  z-index: 1;
}

.glass-card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.glass-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
  background-color: green !important;
  color: white;
}

.glass-card i {
  font-size: 40px;
  color: rgb(82, 82, 82);
}

.glass-card p {
  font-size: 19px;
}

.glass-card.active {
  background-color: green !important;
  color: white;
}

.glass-card.active i,
.glass-card.active p {
  color: white;
}

.container2 .glass-card,
.divs-slider .glass-card {
  box-sizing: border-box;
  width: 98%;
  height: 100%;
  background: white;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 1px solid #059212;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  user-select: none;
  -webkit-user-select: none;
  font-weight: bolder;
  z-index: 1;
}

.banner-inner {
  min-height: 22rem;
  width: 100%;
  display: flex;
}

.banner-inner > div:first-of-type {
  background-image: url("./141643_original_3955x5932.jpg");
  background-position: center;
  background-size: cover;
}

.banner-inner > div:last-of-type {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  background-color: #059212;
}

.banner-inner > div:last-of-type > p {
  font-size: 44px;
  position: relative;
  color: white;
}

.banner-inner > div {
  width: 50%;
}

.auth {
  background-color: #059212 !important;
}

@media (min-width: 2000px) {
  .container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 13rem);
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  .glass-card i {
    font-size: 5rem;
    color: rgb(82, 82, 82);
  }

  .glass-card p {
    font-size: 2rem;
  }
}

@media (max-width: 1060px) {
  .container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 8rem);
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 8rem);
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 8rem);
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  .banner-inner > div:last-of-type > p {
    font-size: 2rem !important;
  }
}
